.calculator {
  width: 220px;          
  background-color: lab(89.26% -46.82 -13.79); 
  padding: 10px;                 
}


#value {
  width: 210px ;              
  height: 50px;             
  font-size: 20px;       
  text-align: right;         
  background-color: #fff;    
}


.buttons {
  display: grid;            
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px;                
}


button {
  height: 40px;             
  font-size: 18px;          
  background-color: #000000; 
  color: white;              
  text-align:center      
  
}
.clear {
  grid-column: 4; /* Pushes it to the 4th column */
  background-color: #f44336; /* Optional: red color */
  color: white;
}

.clear:hover {
  background-color: #650505; /* Darker red on hover */
}
button:hover {
  background-color: #656765; 
}

  