.calculator {
  width: 220px;          
  background-color: lab(25.7% 49.21 2.47); 
  padding: 10px; 
  border-radius: 10px;   
  border: 2px white double;              
}


#value {
  width: 216px ;              
  height: 49px;             
  font-size: 20px;
  border: #000000; 
  border-radius: 10px; 
  padding-bottom: 10px;
  color:white;
  margin-bottom: 10px;
  text-align: center;         
  background-color: #ff0c0c;  
  border: 2px white double;     
    
}


.buttons {
  display: grid;            
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;  
 
               
}


button {
  height: 40px;             
  font-size: 18px;          
  background-color: #d1a2b9; 
  color: rgb(173, 14, 78);              
  text-align:center; 
   border-radius: 10000000000000px; 
   border: 2px white double;     
  
}
.clear {
  grid-column: 4; /* Pushes it to the 4th column */
  background-color: #f44336; /* Optional: red color */
  color: white;
}

.clear:hover {
  background-color: #650505; /* Darker red on hover */
}
button:hover {
  background-color: #656765; 
}

  